@import '~Styles/variables.sass'
  
.db__layout
  width: 100%
  display: grid
  grid-template-rows: 90px 1fr
  grid-template-columns: 50% 50%
  grid-gap: 10px

  @media screen and (max-width: $screen-xs)
    grid-template-rows: 90px 1fr 1fr
    grid-template-columns: 100%

.db__currencies
  grid-column: 1 / 3
  padding: 10px
  white-space: nowrap
  overflow: auto hidden

  @media screen and (max-width: $screen-xs)
    grid-column: 1 / 1

.currencies__container
  display: inline-block
  border-radius: 10px
  padding: 10px
  margin-right: 5px
  transition: width .3s
  
  &:last-child
    margin-right: 0

.currencies__pair,
.currencies__rate
  color: #fff
  font-weight: 600
  font-size: 1.4em

  @media screen and (max-width: $screen-s)
    font-size: 1em

.currencies__rate
  font-size: 1.2em

  @media screen and (max-width: $screen-s)
    font-size: .9em

.db__chart-title
  margin: 10px 0
  text-align: center
  color: #444
  font-size: 1.2em
  font-weight: 500
  font-variant: all-small-caps