.db__layout
  width: 100%
  height: 100%
  display: grid
  grid-template-rows: 90px 1fr
  grid-template-columns: 50% 50%
  grid-gap: 10px

.db__currencies
  grid-column: 1 / 3
  display: flex
  justify-content: center

.currencies__container
  width: 200px
  border-radius: 10px
  margin: 10px
  padding: 10px

.currencies__pair,
.currencies__rate
  color: #fff
  font-weight: 600
  font-size: 1.4em

.currencies__rate
  font-size: 1.2em