@import '~Styles/variables.sass'

aside
  position: relative

.sb__logo
  width: 100%
  height: $header-height
  line-height: $header-height
  text-align: center
  font-size: 2em
  font-weight: 600
  color: #eee


.sb__section
  width: 100%
  border-top: 2px solid #252535

.sb__section-title
  width: 100%
  text-indent: 15px
  line-height: 40px
  color: #8d8a98
  font-weight: 500

.sb__section-list
  margin: 0
  padding: 0 0 10px 0
  list-style: none
  text-indent: 35px

.sb__section-icon
  width: 1em
  height: 1em
  margin-right: 5px
  position: relative
  top: 2px

.sb__section-item_link
  position: relative
  display: block
  height: 40px
  line-height: 40px
  color: #d7d4e2
  text-decoration: none
  user-select: none
  cursor: pointer

  &:hover
    background-color: rgba(255, 255, 255, .05)
    transition: background-color .3s

.sb__section-item_link--active
  &::after
    display: block
    position: absolute
    right: -10px
    top: 0
    content: ""
    width: 0
    height: 0
    border-top: 20px solid transparent
    border-bottom: 20px solid transparent
    border-left: $grid-gap solid var(--secondary-color)

.sb__panel-version
  position: absolute
  bottom: 0
  width: 100%
  text-align: center
  color: #8d8a98